@import '../../../common/common';

timeslot .container {
  padding: 8px 15px;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: $light-brown-color;
  border-radius: 4px;
  cursor: pointer;
  transition: .15s;
  user-select: none;

  &.disabled {
    color: $grey-color;
    background-color: transparentize($grey-color, 0.9);
    cursor: not-allowed;
    outline: 0;
  }

  &:not(.disabled):hover {
    background-color: transparentize($brown-color, 0.2);
  }

  &:not(.disabled).selected {
    background-color: $brown-color;
  }

  @media screen and (min-width: 600px) {
    padding: 15px;
    text-align: left;

    .time {
      font-weight: bold;
    }
  }
}